.logo {
  display: inline-block; }

.navigation ul {
  list-style: none; }
  .navigation ul > li {
    display: inline-block;
    position: relative; }
    .navigation ul > li li, .navigation ul > li a {
      display: block; }
  .navigation ul ul {
    width: 320px; }

.navigation a {
  text-decoration: none; }

/*.navigation ul:before,
.navigation ul:after {
    content: "";
    display: table;
}

.navigation ul:after {
    clear: both;
}*/
/* Fade In and Out
============================== */
.fade-in ul > li:hover ul {
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100); }

.fade-in li ul {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 500ms ease;
  -moz-transition: 500ms ease;
  -o-transition: 500ms ease;
  transition: 500ms ease; }

.notification.wrapper {
  display: inline-block;
  position: relative; }
  .notification.wrapper .txt,
  .notification.wrapper .icon,
  .notification.wrapper .num {
    cursor: pointer; }
  .notification.wrapper .txt {
    display: inline-block;
    margin: 0;
    cursor: pointer; }
  .notification.wrapper .num {
    width: 30px;
    height: 30px;
    background-color: red;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 0;
    left: -30px; }
  .notification.wrapper .notifications {
    max-height: 300px;
    overflow-y: auto;
    position: absolute;
    visibility: hidden;
    width: 300px;
    list-style: none; }
    .notification.wrapper .notifications li {
      opacity: 0;
      transition-duration: .5s;
      /*&._fade {
                    opacity: 1;
                    transition-duration: .5s;
                    transform: translatex(0);
                }*/ }
      .notification.wrapper .notifications li a {
        text-decoration: none;
        display: block; }
      .notification.wrapper .notifications li._animate {
        transition-property: opacity transform;
        opacity: 1;
        transform: translatex(10%); }
    .notification.wrapper .notifications._reading {
      visibility: visible;
      opacity: 1; }

/*.notification-icon {
        position: fixed;
        top: 50%;
        left: 50%;
        margin-left: -37px;
        margin-top: -37px;
    } 
    .notification-icon {
        height: 78px;
        width: 78px;
        transform-origin: 50% 50%;
        animation: shake 1.5s infinite;
        cursor: pointer;
        border-radius: 78px;
        border: 5px solid transparent;
        transition-property: box-shadow;
        transition-duration: .25s;
    }

    .notification-icon.read {
        animation: none;
    }

    .notification-icon.read path {
        stroke: #afafaf;
        fill: #afafaf;
    }

    .notification-icon path {
        stroke: #f75656;
        fill: #f75656;
        transition-property: stroke, fill;
        transition-duration: 0.25s;
    }

    .notification-icon:hover ~ .notification-caption::first-letter {
        background: #f75656;
    }

    .notification-icon:hover path {
        stroke: #f75656;
        fill: #f75656;
    }

    .notification-caption {
        position: fixed;
        top: 50%;
        left: calc(50% + 51px);
        transform: translatey(-50%);
    }

    .notification-caption {
        color: #707070;
        font-size: 18px;
        font-weight: 700;
    }

    .notification-caption::first-letter {
        display: inline-block;
        padding: 1em 1.35em;
        background: #f75656;
        border-radius: 50%;
        margin-right: 0.5em;
        color: #EFEFEF;
        transition-property: background;
        transition-duration: .25s;
    }

    .notification-caption.read::first-letter {
        background: #afafaf;
    }

    ul.notifications {
        position: fixed;
        top: 50%;
        left: 80%;
        transform: translatex(-50%) translatey(-50%);
    }

    ul.notifications {
        list-style: none;
    }

    ul.notifications li {
        max-width: 320px;
        margin: 1em;
        padding: 1em;
        border-left: 5px solid #f75656;
        font-weight: 700;
        color: #707070;
        transition-property: opacity transform;
        opacity: 1;
        transition-duration: .5s;
        transform: translatex(0);
    }

    ul.notifications li > a {
        text-decoration: none;
        color: #ca7faa;
    }

    ul.notifications li.hidden {
        opacity: 0;
        transform: translatex(50%);
    }

    @keyframes shake {
        0%, 25%, 83%, 100% {
            transform: rotatez(0deg);
        }

        32.5%, 62.5% {
            transform: rotatez(-5deg);
        }

        47.5%, 75.5% {
            transform: rotatez(5deg);
        }
    }*/
body {
  direction: rtl; }

.card.flex {
  display: flex; }

.card.wrap {
  flex-wrap: wrap; }
  @media (max-width: 575.98px) {
    .card.wrap {
      flex-wrap: inherit; } }

.card.horizontal {
  flex-direction: row; }

.card.vertical {
  flex-direction: column; }

.card.list .image-wrap {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  -webkit-flex-basis: 0;
  flex-basis: 0;
  margin-left: 15px; }
  .card.list .image-wrap img {
    width: 100%; }
  @media (max-width: 575.98px) {
    .card.list .image-wrap {
      margin-left: 0;
      margin-bottom: 15px; } }

.card.list .wrapper {
  -webkit-flex-grow: 3;
  flex-grow: 3;
  -webkit-flex-shrink: 3;
  flex-shrink: 3;
  -webkit-flex-basis: 0;
  flex-basis: 0; }
  .card.list .wrapper + .desc {
    margin-top: auto;
    flex-basis: 100%; }

.card.list .title-wrap {
  color: #56a860; }

.card.list time {
  font-size: 14px;
  color: #999; }

.card.list .desc {
  font-size: 16px;
  color: #000; }

@media (max-width: 575.98px) {
  .card.list {
    flex-direction: column; } }
