.margin.top._0 {
  margin-top: 0; }

.margin.top._5px {
  margin-top: 5px; }

.margin.top._10px {
  margin-top: 10px; }

.margin.top._15px {
  margin-top: 15px; }

.margin.top._20px {
  margin-top: 20px; }

.margin.top._25px {
  margin-top: 25px; }

.margin.right._0 {
  margin-right: 0; }

.margin.right._5px {
  margin-right: 5px; }

.margin.right._10px {
  margin-right: 10px; }

.margin.right._15px {
  margin-right: 15px; }

.margin.right._20px {
  margin-right: 20px; }

.margin.right._25px {
  margin-right: 25px; }

.margin.bottom._0 {
  margin-bottom: 0; }

.margin.bottom._5px {
  margin-bottom: 5px; }

.margin.bottom._10px {
  margin-bottom: 10px; }

.margin.bottom._15px {
  margin-bottom: 15px; }

.margin.bottom._20px {
  margin-bottom: 20px; }

.margin.bottom._25px {
  margin-bottom: 25px; }

.margin.left._0 {
  margin-left: 0; }

.margin.left._5px {
  margin-left: 5px; }

.margin.left._10px {
  margin-left: 10px; }

.margin.left._15px {
  margin-left: 15px; }

.margin.left._20px {
  margin-left: 20px; }

.margin.left._25px {
  margin-left: 25px; }
