.navigation ul {
  list-style: none; }
  .navigation ul > li {
    display: inline-block;
    position: relative; }
    .navigation ul > li li, .navigation ul > li a {
      display: block; }
  .navigation ul ul {
    width: 320px; }

.navigation a {
  text-decoration: none; }

/*.navigation ul:before,
.navigation ul:after {
    content: "";
    display: table;
}

.navigation ul:after {
    clear: both;
}*/
/* Not Animated
============================== */
.not-animated ul > li:hover ul {
  right: 0; }

.not-animated li ul {
  position: absolute;
  right: -9999em;
  top: 36px;
  z-index: 1; }

/* Fade In and Out
============================== */
.fade-in ul > li:hover ul {
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100); }

.fade-in li ul {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 500ms ease;
  -moz-transition: 500ms ease;
  -o-transition: 500ms ease;
  transition: 500ms ease; }

/* Fold Out
============================== */
.fold-out ul > li:hover ul {
  max-height: 1000px;
  -webkit-transform: perspective(400) rotate3d(0, 0, 0, 0); }

.fold-out li ul {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;
  max-height: 0;
  overflow: hidden;
  -webkit-transform: perspective(800) rotate3d(1, 0, 0, -40deg);
  -webkit-transform-origin: 50% 0;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms; }
