
$green: #00524C;
$lightGreen: #82A5A0;
$blue: #288DC1;
$orange: #E28432;
$lightOrange: #FFBF2F;
$red: red;
$darkRed: #C74B37;
$pink: #D9499A;
$purple: #A24096;

$teal: #39CCCC;
$yellow: #FFCB08;

$black: #191919;
$grey: #CCCCCC;
$white: white;



 
    //primary
    //secondary
    //tertiary
    //quaternary
    //quinary
    //senary
    //septenary
    //octonary
    //nonary
    //denary
 


$primary: $green;
$secondary: $lightGreen;

$success: #000;
$danger: #000;
$warning: #000;
$info: #000;

 
