.margin--none {
    margin: 0px;
}
.margin--small {
    margin: $small;
}

.margin--medium {
    margin: $medium;
}

.margin--larg {
    margin: $larg;
}

.margin--x-larg {
    margin: $x-larg;
}
// #RIGHT
.margin--r--small {
    margin-right: $small;
}

.margin--r--medium {
    margin-right: $medium;
}

.margin--r--larg {
    margin-right: $larg;
}

.margin--r--x-larg {
    margin-right: $x-larg;
}
// #LEFT
.margin--l--small {
    margin-left: $small;
}

.margin--l--medium {
    margin-left: $medium;
}

.margin--l--larg {
    margin-left: $larg;
}

.margin--l--x-larg {
    margin-left: $x-larg;
}
// #TOP
.margin--t--small {
    margin-top: $small;
}

.margin--t--medium {
    margin-top: $medium;
}

.margin--t--larg {
    margin-top: $larg;
}

.margin--t--x-larg {
    margin-top: $x-larg;
}
// #BOTTOM
.margin--b--small {
    margin-bottom: $small;
}

.margin--b--medium {
    margin-bottom: $medium;
}

.margin--b--larg {
    margin-bottom: $larg;
}

.margin--b--x-larg {
    margin-bottom: $x-larg;
}
