.padding--none {
    padding:0px;
}
.padding--small {
    padding: $small;
}

.padding--medium {
    padding: $medium;
}

.padding--larg {
    padding: $larg;
}

.padding--x-larg {
    padding: $x-larg;
}
// #RIGHT
.padding--r--small {
    padding-right: $small;
}

.padding--r--medium {
    padding-right: $medium;
}

.padding--r--larg {
    padding-right: $larg;
}

.padding--r--x-larg {
    padding-right: $x-larg;
}
// #LEFT
.padding--l--small {
    padding-left: $small;
}

.padding--l--medium {
    padding-left: $medium;
}

.padding--l--larg {
    padding-left: $larg;
}

.padding--l--x-larg {
    padding-left: $x-larg;
}
// #TOP
.padding--t--small {
    padding-top: $small;
}

.padding--t--medium {
    padding-top: $medium;
}

.padding--t--larg {
    padding-top: $larg;
}

.padding--t--x-larg {
    padding-top: $x-larg;
}
// #BOTTOM
.padding--b--small {
    padding-bottom: $small;
}

.padding--b--medium {
    padding-bottom: $medium;
}

.padding--b--larg {
    padding-bottom: $larg;
}

.padding--b--x-larg {
    padding-bottom: $x-larg;
}
